.admin-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.admin-section {
  flex: 1;
}

.main-pc {
  background-color: #7e8e9e;
  height: 100%;
}

.city-humidity {
  background-color: #9fa7b3;
  height: 100%;
}

.iot-devices {
  background-color: #a8b2bc;
  height: 100%;
}

.admin-section h2 {
  color: #fff;
  text-align: center;
}

.iot-devices {
  display: flex;
  flex-direction: column;
}
